@import 'tailwindcss';

body {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a,
button,
ul > li > a,
ul li a,
[type='button'],
[type='submit'],
[type='reset'] {
  @apply cursor-default select-none disabled:opacity-50 lg:cursor-pointer;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-300 dark:bg-neutral-500;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-neutral-700;
}

::-webkit-scrollbar {
  @apply w-1.5;
}
